header {
  background: #3498db;
  color: white;
  border: 1px solid;
  padding: 1em;
  text-align: center;
}

body {
    margin: 0;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}

div {
    display: block;
}

.news-body {
  width: 100%;
  overflow:auto;
}

.category-menu {
    float:left; 
    width: 20%;
    height: 400px;
}

.resource-handler {
    float: right;
    width: 80%;
}

.resource-handler select-box {
    float: right;
    height: 100px;
    width: 80%;
}

.resource-handler artcle-handler {  
  float: right;
  height: 300px;
  width: 80%; 
}

.article {
  display: block;
  padding: 10px;
  border: 1px solid green;
  height: 430px;
  width: 30%;
  float:left;
}

.article img {
   width: 325px;
   height: 200px;
}